{
    "extends": "airbnb/base",
    "rules": {
        "linebreak-style": [
            2,
            "windows",
        ]
    },
    "env": {
      "browser": true,
      "node": true,
      "jasmine": true,
    }
}
